<div class="main">

   <div class="back">

      <!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
      <svg 
       [ngClass]="{'svg1': itemPlay1==true,
    'svg2': itemPlay2,
    'svg3': itemPlay3,
    'svg4': itemPlay4,
    'svg5': itemPlay5,
    'svg6': itemPlay6


   }"  
   version="1.1" id="Layer_1" class="backsvg" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 750 1334"
         style="enable-background:new 0 0 750 1334;" xml:space="preserve">
         <line stroke-width="1" class="stb0" x1="201.5" y1="52.5" x2="68.5" y2="207.5" />
         <line class="stb0" x1="440.5" y1="194.5" x2="498.5" y2="331.5" />
         <line stroke-width="6" class="stb0" x1="669.5" y1="593.5" x2="631.5" y2="649.5" />
         <line class="stb0" x1="613.5" y1="980.5" x2="676.5" y2="1069.5" />
         <line class="stb0" x1="683.5" y1="1212.5" x2="626.5" y2="1250.5" />
         <line class="stb0" x1="273.5" y1="1231.5" x2="254.5" y2="1203.5" />
         <line stroke-width="7" class="stb0" x1="113.5" y1="940.5" x2="173.5" y2="860.5" />
         <line class="stb0" x1="198.5" y1="607.5" x2="134.5" y2="517.5" />
         <line stroke-width="6" class="stb0" x1="662.5" y1="64.5" x2="717.5" y2="36.5" />
         <line class="stb0" x1="65.5" y1="1231.5" x2="17.5" y2="1276.5" />
         <polygon stroke-width="3" class="stb0" points="86.2,71.9 41.2,55.1 78.2,24.5 " />
         <polygon stroke-width="3" class="stb0" points="630.5,269.3 666.7,281.7 637.8,306.9 " />
         <polygon stroke-width="3" class="stb0" points="544.4,70.6 527.4,63.2 542.3,52.2 " />
         <polygon class="stb0" points="678.6,808.6 660.7,803.8 673.8,790.7 " />
         <polygon class="stb0" points="474.8,1127.6 476.7,1109.3 491.5,1120.1 " />
         <polygon class="stb0" points="89.9,1055.4 66,1048.4 84,1031.2 " />
         <polygon stroke-width="3" class="stb0" points="81.1,637.7 64.4,629.9 79.5,619.4 " />
         <polygon class="stb0" points="192.5,289.6 169.6,284.6 185.4,267.3 " />
         <polygon class="stb0" points="589.9,489.6 562.5,485.2 580,463.7 " />
         <polygon stroke-width="6" class="stb0" points="736.8,1126.3 720.3,1121.2 732.9,1109.5 " />
         <polygon class="stb0" points="425.4,1288.3 400.4,1293.1 408.7,1269.1 " />
         <circle filter="url(#blurMe)" class="stb0" cx="302" cy="122" r="4.5" />
         <circle filter="url(#blurMe)" class="stb0" cx="573.5" cy="151.5" r="10" />
         <circle filter="url(#blurMe)" class="stb0" cx="706.5" cy="460.5" r="8" />
         <circle filter="url(#blurMe)" class="stb0" cx="240.5" cy="902.5" r="2" />
         <circle class="stb0" cx="40" cy="768" r="5.5" />
         <circle class="stb0" cx="63.5" cy="354.5" r="12" />
         <circle class="stb0" cx="722.5" cy="692.5" r="8" />
         <circle class="stb0" cx="266.5" cy="1055.5" r="11" />
         <circle stroke-width="6" class="stb0" cx="159" cy="1261" r="7.5" />
         <ellipse stroke-width="6" class="stb0" cx="298" cy="405" rx="8.5" ry="2.5" />
         <circle class="stb0" cx="411.5" cy="69.5" r="8" />
      </svg>
   </div>
   <div class="circle">

      <svg version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 1417.3 1417.3"
         style="enable-background:new 0 0 1417.3 1417.3;" xml:space="preserve">
         <defs>
            <filter id="blur">
              <feGaussianBlur in="SourceGraphic" stdDeviation="3,3"></feGaussianBlur>
            </filter>
          </defs>
         <polygon  filter="url(#blur)" stroke-width="17" class="st0 stAll"
            points="1178.6,900.7 721,1156.6 263.4,900.7 263.4,388.7 721,132.7 1178.6,388.7 " />


         <polygon  filter="url(#blur)" (touchstart)="playStart1()" (touchend)="playEnd1()" stroke-width="17"
            [ngClass]="{'ststart1': itemPlay1}" class="st1 stAll" points="1178.6,388.7 721,644.7 721,132.7" />

         <polygon  filter="url(#blur)" (touchstart)="playStart2()" (touchend)="playEnd2()" [ngClass]="{'ststart2': itemPlay2}"
            stroke-width="17" class="st2 stAll" points="721,644.7 263.4,900.7 263.4,388.7 " />
         <polygon  filter="url(#blur)" (touchstart)="playStart3()" (touchend)="playEnd3()" [ngClass]="{'ststart3': itemPlay3}"
            stroke-width="17" class="st3 stAll" points="1178.6,900.7 721,1156.6 721,644.7 " />
         <polygon  filter="url(#blur)" (touchstart)="playStart4()" (touchend)="playEnd4()" [ngClass]="{'ststart4': itemPlay4}"
            stroke-width="17" class="st4 stAll" points="721,644.7 1177.7,388.7 1177.7,900.7 " />
         <polygon  filter="url(#blur)" (touchstart)="playStart5()" (touchend)="playEnd5()" [ngClass]="{'ststart5': itemPlay5}"
            stroke-width="17" class="st5 stAll" points="264.6,900.6 722.1,644.7 722.1,1156.6 " />
         <polygon  filter="url(#blur)" (touchstart)="playStart6()" (touchend)="playEnd6()" [ngClass]="{'ststart6': itemPlay6}"
            stroke-width="17" class="st6 stAll" points="263.5,387.1 721.1,131.1 721.1,643.1 " />
      </svg>
   </div>



   <!-- <div class="light">
      <div class="glowing">
         <span>
            <div class="mycircle">
               <span></span>
               <span></span>
               <span></span>
               <span></span>
            </div> 
         </span>
         <span>
            <div class="mycircle">
               <span></span>
               <span></span>
               <span></span>
               <span></span>
            </div> 
         </span>		
         <span>
            <div class="mycircle">
               <span></span>
               <span></span>
               <span></span>
               <span></span>
            </div> 
         </span>
   
      </div>
   </div> -->
</div>